<div
    class="trade-card"
>
    <div class="trade-card-content">
        <div class="trade-card-top">
        </div>
        <div class="trade-card-information">
            <div class="trade-card-center">
                <div class="trade-team-value">
                  <strong>Team: </strong> {{ request }} <!-- Ovde dodati naziv tima -->
                </div>
                <div class="trade-manager-value">
                    <strong>Manager: </strong> {{ request }} {{ request }} <!-- Ovde dodati ime i prezime menadzera -->
                </div>
                <div class="trade-date">
                  <div class="trade-date-value">
                    <strong>Date and time: </strong> {{ this.tourOccurrenceDate }} {{ this.tourOccurrenceTime }} h <!-- Ovde treba da bdue datum kada je poslat zahtev-->
                  </div>
                </div>
            </div>

            <div class="trade-card-right">
              <!-- Obratiti opet paznju na user.role -->
                <div class="request-status-value"
                     *ngIf="this.user?.role === 'GUEST'"
                >
                    <strong>Status: </strong> &nbsp; {{ request }}  <!-- Status samog zahteva sta je i kakav je -->
                </div>

                <!-- Obratiti paznju na rolu i sam status zahteva -->
                <button
                  class="btn"
                  *ngIf="user?.role == 'GUEST' && request == 'DECLINED'"
                  (click)="seeExplanationButtonClicked(request);$event.stopPropagation()"
                  [@buttonState]="seeExplanationButtonState"
                >
                  &nbsp;See denial explanation
                </button>

<!--            CANCEL MOZDA DA OSTANE VIDECU JOS
                <button
                  class="btn"
                  *ngIf="user?.role == 'GUEST' && request == 'IN_PROGRESS'"
                  (click)="cancelRequestButtonClicked(request);$event.stopPropagation()"
                  [@buttonState]="cancelRequestButtonState"
                >
                  <fa-icon [icon]="faTrash" />
                  &nbsp;Cancel request
                </button> -->

                <!-- Obratiti paznju na user.role -->
                <button
                    class="btn"
                    *ngIf="user?.role == 'ORGANIZER'"
                    (click)="seeDetailsButtonClicked(request);$event.stopPropagation()"
                    [@buttonState]="detailsButtonState"
                >
                    <fa-icon [icon]="faCheck" />
                    &nbsp;See details
                </button>

                <!-- Obratiti paznju na user.role -->
                <button
                    class="btn"
                    *ngIf="user?.role == 'ORGANIZER'"
                    (click)="acceptButtonClicked(request);$event.stopPropagation()"
                    [@buttonState]="acceptButtonState"
                >
                    <fa-icon [icon]="faCheck" />
                    &nbsp;Accept
                </button>

                <!-- Obratiti paznju na user.role -->
                <button
                    class="btn"
                    *ngIf="user?.role == 'ORGANIZER'"
                    (click)="declineButtonClicked(request);$event.stopPropagation()"
                    [@buttonState]="declineButtonState"
                >
                    <fa-icon [icon]="faTimes" />
                    &nbsp;Decline
                </button>
            </div>
        </div>
    </div>
</div>