<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="dialogue">
  <div class="wrapper">
    <form [formGroup]="proposeTradeForm">
        <h1>Trade details</h1>

        <div class="receivings">
          <div class="user-receivings">
            <h2>You receive: </h2>
            <!-- E sad ovde treba nekako izlistati sve sto se nalazi u offeru -->
             <!-- Mozda da ne bude tablea vec ono sa karticom, za svkai tip imovine lepo prosledim
              i napravim kao template kak otreba da se uradi  -->
             <!-- <table>
              <tr>
                <td>Jayson Tatum</td>
                <td>
                  <button class="submit-btn" 
                          (click)="removeAssetButtonClicked()"
                          [@buttonState]="removeAssetButtonState">
                          <fa-icon [icon]="faMinus" />
                          &nbsp;Remove
                  </button>
                </td>
              </tr>
             </table> -->

             <!-- Dakle ovde je umesto tabele onaj skrol sa karticama -->
              <div class="assets">
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
                <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="false">
                </app-propose-trade-asset-card>
              </div>
          </div>
  
          <div class="partner-receivings">
            <!-- Mozda umesto They da napisem naziv tima bas -->
            <h2>They receive: </h2>
            <!-- E sad ovde treba nekako izlistati sve sto se nalazi u offeru -->
            <!-- <table>
              <tr>
                <td>Naziv</td>
                <td>
                  <button class="submit-btn" 
                          (click)="removeAssetButtonClicked()"
                          [@buttonState]="removeAssetButtonState">
                          <fa-icon [icon]="faMinus" />
                          &nbsp;Remove
                  </button>
                </td>
              </tr>
             </table>
              -->
             
             <div class="assets">
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
              <app-propose-trade-asset-card
              [@fadeIn]
              [showButton]="false">
              </app-propose-trade-asset-card>
            </div>
          </div>
        </div>

        <button type="submit" 
                class="submit-btn" 
                [@buttonState]="buttonState" 
                (click)="closeButtonClicked()"
                >Close
        </button>
    </form>
  </div>
</div>
