<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="dialogue">
  <div class="wrapper">
    <form>
        <h1>Trade details</h1>
        <div class="receivings">
          <div class="user-receivings">
            <h2>You receive: </h2>
             <div class="assets">
              <app-propose-trade-asset-card
                [@fadeIn]
                [showButton]="true"
                *ngFor="let tradeSubject of partnerTradeSubjects"
                [partnerTradeSubject]="tradeSubject"
                [partnerTradeSubjects]="partnerTradeSubjects"
                [detailedView]="true">
              </app-propose-trade-asset-card>
            </div>
          </div>
  
          <div class="partner-receivings">
            <!-- Mozda umesto They da napisem naziv tima bas -->
            <h2>They receive: </h2>
              <div class="assets">
                <app-propose-trade-asset-card
                  [@fadeIn]
                  [showButton]="true"
                  *ngFor="let tradeSubject of ownTradeSubjects"
                  [ownTradeSubject]="tradeSubject"
                  [ownTradeSubjects]="ownTradeSubjects"
                  [detailedView]="true">
              </app-propose-trade-asset-card>
              </div>
          </div>
        </div>
        <button type="submit" 
                class="submit-btn" 
                [@buttonState]="buttonState" 
                (click)="closeButtonClicked()"
                >Close
        </button>
    </form>
  </div>
</div>
