<div class="overview">
  <div class="h2-wrapper">
    <h2>Recruit management</h2>
  </div>
  <br>

  <div class="p-wrapper">
    <p>Welcome to the Recruits Management page! Here, you can explore detailed profiles of the latest draft prospects. 
      Manage your team's future by selecting top talent, inviting them to trainings and interviews, and tracking players who fit your strategic vision. 
      Take charge of your draft strategy and make key decisions that will shape the future success of your team.
    </p>
  </div>

  <div class="filters">
    <form [formGroup]="positionForm">
      <div class="trade-type">
        <h3>Filter by position:</h3>
        <div>
          <select id="trade-type-select"
                  formControlName="selectedPosition" 
                  (change)="onPositionChange($event)"
                  required>
            <option value="None">None</option>
            <option value="0">Point Guard (PG)</option>
            <option value="1">Shooting Guard (SG)</option>
            <option value="2">Small Forward (SF)</option>
            <option value="3">Power Forward (PF)</option>
            <option value="4">Center (C)</option>
          </select>  
        </div>
      </div>
    </form>
    
    <div class="search">
      <form [formGroup]="searchForm" class="search-form">
        <div class="input-box">
          <input 
                  type="text" 
                  formControlName="parameters" 
                  required
          />
          <label [class.active]="searchForm.get('parameters')?.value || focused === 'parameters'">Player name or surname</label>
        </div>
        <button type="submit" 
                class="submit-btn" 
                [@buttonState]="buttonState" 
                (click)="searchButtonClicked()">
                Search
        </button>
        <button type="submit" 
                class="submit-btn" 
                [@buttonState]="resetButtonState" 
                (click)="resetButtonClicked()">
                Reset filters
        </button>
      </form>
    </div>
  </div>

  <div class="roster">
    <div class="roster-header">
      <div class="player-name">
        Name
      </div>
      <div class="player-age">
        Age
      </div>
      <div class="player-position">
        Position
      </div>
      <div class="player-height">
        Height
      </div>
      <div class="player-weight">
        Weight
      </div>
    </div>
    
    <div class="roster-container">
        <app-recruit-card
            [@fadeIn]
            *ngFor="let recruit of recruits"
            [recruit]="recruit"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></app-recruit-card>
    </div>
  </div>
</div>
