<mat-toolbar color="primary">
  <div>
    <fa-icon id="logo" [icon]="faBasketball" />
    <p>Basketball league</p>
    <div id="buttons">
      <button
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['']">
        <fa-icon [icon]="faHome" />
        &nbsp;Home
      </button>

      <button
              *ngIf="this.user?.uloga !==  this.regrutUloga"
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['roster']"> 
        <fa-icon [icon]="faAddressBook" />
        &nbsp;Roster management
      </button>

      <button
              *ngIf="this.user?.uloga !==  this.regrutUloga"
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['trade-management']">
        <fa-icon [icon]="faPencilSquare" />
        &nbsp;Trade management
      </button>
      
      <button
              *ngIf="this.user?.uloga !==  this.regrutUloga"
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['recruit-management']">
        <fa-icon [icon]="faBinoculars" />
        &nbsp;Recruit management
      </button>

      <button
              *ngIf="this.user?.uloga ===  this.regrutUloga"
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['proposal-management']">
        <fa-icon [icon]="faPencilSquare" />
        &nbsp;Proposal management
      </button>
      
      <button
              class="feat-button"
              color="white"
              mat-raised-button
              [routerLink]="['league-news']">
        <fa-icon [icon]="faNewsPaper" />
        &nbsp;League news
      </button>
    </div>

    <div id="account-buttons">
      <button
            class="feat-button"
            *ngIf="user?.email != ''"
            color="white"
            mat-raised-button
            [routerLink]="['my-profile']"
      >
      <fa-icon [icon]="faUser" />
      &nbsp;My profile
      </button>

      <button
              class="feat-button"
              *ngIf="user && user.email === ''"
              color="white"
              mat-raised-button
              [routerLink]="['register']"
      >
      <fa-icon [icon]="faPencilSquare" />
        &nbsp;Sign up
      </button>

      <button
            *ngIf="user && user.email === ''"
            color="accent"
            mat-raised-button
            [routerLink]="['login']"
      >
      <fa-icon [icon]="faSignIn" />
      &nbsp;Login
      </button>

      <button *ngIf="user && user.email !== ''"
              color="accent"
              mat-raised-button
              (click)="onLogout()"
      >
      <fa-icon [icon]="faSignOut" />
        &nbsp;Logout
      </button>
    </div>
  </div>
</mat-toolbar>
