<div class="pick-card">

<!-- MOZDA DA DODAM KAO TAG RECIMO ADDED TO TRADE LIST ILI WISHLIST I SL -->

  <div class="pick-card-content">
      <div class="pick-card-information">
          <div class="pick-card-center">
              <div class="pick-number" 
                    *ngIf="pick.redBrPik !== '0'">
                <strong>Order:</strong> {{ pick.redBrPik }}
              </div>
              <div class="pick-number" 
                    *ngIf="pick.redBrPik === '0'">
                <strong>Order:</strong> Unknown
              </div>
                <div class="pick-round">
                  <strong>Round:</strong> {{ pick.brRunPik }}
                </div>
                <div class="pick-year">
                  <strong>Year:</strong>  {{ pick.godPik }}
                </div>
          </div>
          <div class="pick-card-right">
                <button
                  class="btn"
                  *ngIf="!assetSelected"
                  (click)="addAssetButtonClicked(pick);$event.stopPropagation()"
                  [@buttonState]="addAssetButtonState"
                >
                  <fa-icon [icon]="faPlus" />
                  &nbsp;Add
                </button>

                <button
                  class="btn"
                  *ngIf="assetSelected"
                  (click)="removeAssetButtonClicked(pick);$event.stopPropagation()"
                  [@buttonState]="removeAssetButtonState"
                >
                  <fa-icon [icon]="faMinus" />
                  &nbsp;Remove
                </button>
          </div>
      </div>
  </div>
</div>
