<div class="news-card">
    <div class="news-card-left">
      <div class="news-image-container">
          <img
              class="news-image"
              src="https://imgs.search.brave.com/udmDGOGRJTYO6lmJ0ADA03YoW4CdO6jPKGzXWvx1XRI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzY4LzU1LzYw/LzM2MF9GXzI2ODU1/NjAxMl9jMVdCYUtG/TjVyalJ4UjJleVYz/M3puSzRxblllS1pq/bS5qcGc"
          />
      </div>
    </div>
    <div class="news-card-content">
        <div class="news-card-top">
          <div class="news-tags">
            <div
                class="news-tag"
                style="background-color: olivedrab; color: white"
            >
                Boston Celtics
            </div>
            <div
                class="news-tag"
                style="background-color: rgb(150, 28, 28); color: white"
            >
                Miami Heat
            </div>
            <div
                class="news-tag"
                style="background-color: orange; color: white"
            >
                Trade
            </div>
          </div>
        </div>
        <div class="news-card-information">
            <div class="news-card-center">
                <div class="news-headline">
                   Seltiksi napravili trejd godine <!-- Ovde dodati naslov same vesti -->
                </div>
                <div class="news-content">
                    Ovde sada ide neki teskt koji treba da bude poprilicno dugacak recimo Celticsi su trejdovali Walsha za Jovica muahahahahha! <!-- Ovde dodati ime i prezime menadzera -->
                </div>
                <div class="news-date">
                  <div class="news-date-value">
                    11.02.2002. <!-- Ovde treba da bdue datum kada je izvrsen trejd -->
                  </div>
                </div>
            </div>
            <div class="news-card-right">
              <div class="news-author">
                  Adrian Wojnarowski @adrianWojnarowski <!-- Ovde treba da pise naziv autora novosti i njegov @ recimo -->
              </div>
            </div>
        </div>
    </div>
</div>
