<div class="news-card">
    <div class="news-card-left">
      <div class="news-image-container">
          <img
              class="news-image"
              src="{{ imageSource }}"
          />
      </div>
    </div>
    <div class="news-card-content">
        <div class="news-card-top">
          <div class="news-tags">
            <div class="news-tag"
                 [style.background-color]="firstTeamBgColor">
              {{ this.firstTeam?.nazTim }}
            </div>
            <div class="news-tag"
                 [style.background-color]="secondTeamBgColor">
                 {{ this.secondTeam?.nazTim }}
            </div>
          </div>
        </div>
        <div class="news-card-information">
            <div class="news-card-center">
                <div class="news-headline">
                    {{ this.headline}}
                </div>
                <div class="news-content">
                    {{ this.description }}
                </div>
                <div class="news-date">
                  <div class="news-date-value">
                    {{ this.tradeOccurrenceDate }}
                  </div>
                </div>
            </div>
            <div class="news-card-right">
              <div class="news-author">
                  {{ this.journalist }}
              </div>
            </div>
        </div>
    </div>
</div>
