<div class="player-card">
  <div class="player-card-content">
      <div class="player-card-top">
        <div class="player-tags">
          <div class="player-tag"
               *ngIf="this.player.trgListIgr && this.ownTeam"
               style="background-color: orange; color: white">
              On your Trade list
          </div>
          <div class="player-tag"
               *ngIf="this.player.trgListIgr && !this.ownTeam"
               style="background-color: orange; color: white">
              On their Trade list
          </div>
          <div class="player-tag"
              *ngIf="this.onWishlist"
              style="background-color: olivedrab; color: white">
              On your Wishlist
          </div>
        </div>
      </div>
      <div class="player-card-information">
          <div class="player-card-center">
                <div class="player-name-value">
                  <strong>Name:</strong> {{ player.ime }} {{ player.prezime }}
                </div>
                <div class="trade-date">
                  <div class="player-age-value">
                    <strong>Age:</strong>  {{ this.age }}
                  </div>
                </div>
                <div class="player-position-value" *ngIf="player.pozIgr === 0"><strong>Position:</strong> PG</div>
                <div class="player-position-value" *ngIf="player.pozIgr === 1"><strong>Position:</strong> SG</div>
                <div class="player-position-value" *ngIf="player.pozIgr === 2"><strong>Position:</strong> SF</div>
                <div class="player-position-value" *ngIf="player.pozIgr === 3"><strong>Position:</strong> PF</div>
                <div class="player-position-value" *ngIf="player.pozIgr === 4"><strong>Position:</strong> C</div>
                <div class="player-height-value">
                  <strong>Height:</strong> {{ player.visIgr }}cm
                </div>
                <div class="player-weight-value">
                  <strong>Weight:</strong> {{ player.tezIgr }}kg
                </div>
          </div>

          <div class="player-card-right">
            <button
            class="btn"
            *ngIf="!assetSelected"
            (click)="addAssetButtonClicked(player);$event.stopPropagation()"
            [@buttonState]="addAssetButtonState"
          >
            <fa-icon [icon]="faPlus" />
            &nbsp;Add
          </button>

          <button
            class="btn"
            *ngIf="assetSelected"
            (click)="removeAssetButtonClicked(player);$event.stopPropagation()"
            [@buttonState]="removeAssetButtonState"
          >
            <fa-icon [icon]="faMinus" />
            &nbsp;Remove
          </button>
          </div>
      </div>
  </div>
</div>
