<div class="player-card">
    <div class="player-card-content">
        <div class="player-card-top">
            <div class="player-tags">
                <div class="player-tag"
                     *ngIf="this.player.trgListIgr"
                     style="background-color: orange; color: white">
                  Added to the Trade list
                </div>
                <div class="player-tag"
                    *ngIf="this.player.nedodListIgr"
                    style="background-color: rgb(132, 40, 40); color: white">
                    Added to the Untouchables list
                </div>
                <!-- OVDE SAMO OBRATI PAZNJU KADA SE DODA WISHLIST DA SE PROMENI -->
                <!-- <div class="player-tag"
                    *ngIf="this.player.nedodListIgr"
                    style="background-color: olivedrab; color: white">
                    Added to the Wishlist
                </div> -->
              </div>
        </div>
        <div class="player-card-information">
            <div class="player-card-center">
                  <div class="player-name-value">
                    {{ player.ime }} {{ player.prezime }}
                  </div>
                  <div class="trade-date">
                    <div class="trade-date-value">
                      {{ this.age }}
                    </div>
                  </div>
                  <div class="player-position-value" *ngIf="player.pozIgr === 0">PG</div>
                  <div class="player-position-value" *ngIf="player.pozIgr === 1">SG</div>
                  <div class="player-position-value" *ngIf="player.pozIgr === 2">SF</div>
                  <div class="player-position-value" *ngIf="player.pozIgr === 3">PF</div>
                  <div class="player-position-value" *ngIf="player.pozIgr === 4">C</div>
                  <div class="player-height-value">
                     {{ player.visIgr}}cm
                  </div>
                  <div class="player-weight-value">
                    {{ player.tezIgr }}kg
                  </div>
            </div>

            <div class="player-card-right">
                <button
                    class="btn"
                    *ngIf="!ownTeam"
                    (click)="addToWishlistButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToWishlistButtonState"
                >
                    <fa-icon [icon]="faHeart" />
                    &nbsp;Add to wishlist
                </button>

                <button
                    class="btn"
                    *ngIf="ownTeam && !this.player.trgListIgr"
                    (click)="addToTradeListButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToTradeListButtonState"
                >
                    <fa-icon [icon]="faList" />
                    &nbsp;Add to trade list
                </button>

                <button
                    class="btn"
                    *ngIf="ownTeam && this.player.trgListIgr"
                    (click)="removeFromTradeListButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToTradeListButtonState"
                >
                    <fa-icon [icon]="faList" />
                    &nbsp;Remove from trade list
                </button>

                <button
                    class="btn"
                    *ngIf="ownTeam && !this.player.nedodListIgr"
                    (click)="addToUntouchablesListButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToUntouchablesListButtonState"
                >
                    <fa-icon [icon]="faBan" />
                    &nbsp;Add to untouchables list
                </button>

                <button
                    class="btn"
                    *ngIf="ownTeam && this.player.nedodListIgr"
                    (click)="removeFromUntouchablesListButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToUntouchablesListButtonState"
                >
                    &nbsp;Remove from untouchables
                </button>
            </div>
        </div>
    </div>
</div>
