<div class="player-card">
    <div class="player-card-content">
        <div class="player-card-top">
        </div>
        <div class="player-card-information">
            <div class="player-card-center">
                  <div class="player-name-value">
                    {{ player.ime }} {{ player.prezime }}
                  </div>
                  <div class="trade-date">
                    <div class="trade-date-value">
                      {{ this.age }}
                    </div>
                  </div>
                  <div class="player-position-value"
                       *ngIf="player.pozIgr === 0">
                     PG
                  </div>
                    <div class="player-position-value"
                        *ngIf="player.pozIgr === 1">
                        SG
                    </div>
                    <div class="player-position-value"
                        *ngIf="player.pozIgr === 2">
                        SF
                    </div>
                    <div class="player-position-value"
                        *ngIf="player.pozIgr === 3">
                        PF
                    </div>
                    <div class="player-position-value"
                     *ngIf="player.pozIgr === 4">
                        C
                    </div>
                  <div class="player-height-value">
                     {{ player.visIgr}}cm
                  </div>
                  <div class="player-weight-value">
                    {{ player.tezIgr }}kg
                  </div>
            </div>

            <div class="player-card-right">
                <!-- Obratiti paznju na user.role -->
                <!-- <button
                    class="btn"
                    (click)="addToWishlistButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToWishlistButtonState"
                >
                    <fa-icon [icon]="faHeart" />
                    &nbsp;Add to wishlist
                </button> -->

                <button
                    class="btn"
                    (click)="addToTradeListButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToTradeListButtonState"
                >
                    <fa-icon [icon]="faList" />
                    &nbsp;Add to trade list
                </button>

                <button
                    class="btn"
                    (click)="addToUntouchablesListButtonClicked(player);$event.stopPropagation()"
                    [@buttonState]="addToUntouchablesListButtonState"
                >
                    <fa-icon [icon]="faBan" />
                    &nbsp;Add to untouchables list
                </button>
            </div>
        </div>
    </div>
</div>
