<div class="overview" [ngStyle]="{'background-size': backgroundSize}">
  <div class="h2-wrapper">
    <h2>Roster management</h2>
  </div>
  <br>

  <div class="p-wrapper">
    <p>Welcome to the Roster Management page! Here, you can access comprehensive information about all the players in the league. 
      Manage your team's roster by adding players to your trade list or untouchables list, and create a wishlist of players from other teams. 
      Take full control of your roster and make strategic decisions to build a championship-caliber team.
    </p>
  </div>

  <div class="assets-header">
    <form [formGroup]="assetForm">
      <div class="asset-type">
        <h2>Choose your asset type:</h2>
        <div>
          <select id="asset-select"
                  formControlName="selectedAssetType" 
                  (change)="onAssetTypeChange($event)"
                  required>
            <option value="Players">Players</option>
            <option value="Picks">Picks</option>
            <option value="Draft rights">Draft Rights</option>
          </select>  
        </div>
      </div>
    </form>
  
    <div class="team-assets">
      <h2>Select team:</h2>
      <div class="select-dropdown">
        <mat-form-field appearance="fill" class="mat-form-field-oval">
          <mat-select [formControl]="teamCtrl" 
                      placeholder= "{{ this.initialTeamName }}"
                      (selectionChange)="onTeamSelected($event)" 
                      #singleSelect>
            <mat-option>
              <ngx-mat-select-search 
                                     [formControl]="teamFilterCtrl"
                                     [placeholderLabel]="'Search'"
                                     [noEntriesFoundLabel]="'No matching team found'">
              </ngx-mat-select-search>
            </mat-option>
      
            <mat-option *ngFor="let team of filteredTeams | async" [value]="team">
              {{ team }}
            </mat-option>
            
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  
  <div class="roster">
    <div class="roster-header"
         *ngIf="this.assetForm.value.selectedAssetType !== 'Picks' && this.ownTeamChosen">
      <div class="player-name">
        Name
      </div>
      <div class="player-age">
        Age
      </div>
      <div class="player-position">
        Position
      </div>
      <div class="player-height">
        Height
      </div>
      <div class="player-weight">
        Weight
      </div>
    </div>

    <div class="roster-header-partner"
         *ngIf="this.assetForm.value.selectedAssetType !== 'Picks' && !this.ownTeamChosen">
      <div class="player-name-partner">
        Name
      </div>
      <div class="player-age-partner">
        Age
      </div>
      <div class="player-position-partner">
        Position
      </div>
      <div class="player-height-partner">
        Height
      </div>
      <div class="player-weight-partner">
        Weight
      </div>
    </div>
    <div class="roster-container">
        <app-player-card
            [@fadeIn]
            *ngFor="let player of players"
            [player]="player"
            [ownTeam]="this.ownTeamChosen"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></app-player-card>

        <app-pick-roster-card
            [@fadeIn]
            *ngFor="let pick of picks"
            [pick]="pick"
            [ownTeam]="this.ownTeamChosen"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></app-pick-roster-card>

        <app-draft-right-roster-card
            [@fadeIn]
            *ngFor="let draftRight of draftRights"
            [draftRight]="draftRight"
            [ownTeam]="this.ownTeamChosen"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></app-draft-right-roster-card>
    </div>
  </div>
</div>
