.roster {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 98%;
  margin-top: 1%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.roster-container::-webkit-scrollbar {
  display: none;
}

.roster-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  margin-bottom: 7%;
  overflow-y: scroll;
  height: 50rem;
}

.roster-header {
  color: #fff;
  display: flex;
  flex-direction: row;
  font-size: 21px;
  margin-bottom: 1%;
}

.player-name{
  margin-left: 13%;
}

.player-age{
  margin-left: 13.5%;
}

.player-position{
  margin-left: 2%;
}

.player-height{
  margin-left: 4%;
}

.player-weight{
  margin-left: 5.5%;
}

.btn {
  width: 10%;
  height: 5%;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
  margin-top: -3%;
}

.btn:hover {
  background-color: #f2f2f2;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: transform 300ms ease;
}

.overview {
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  transition: background-size 0.3s ease;
}

.h2-wrapper {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 1% 1%;
}

.p-wrapper {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: auto;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  padding: 1% 1%;
}

h2 {
  margin: 0;
}

.team-assets {
  display: flex;
  flex-direction: row;
  gap: 5%;
  font-size: 14px;
  width: 30%;
  margin-top: 2%;
  margin-right: -9%;
  color: #fff;  /* Ovde samo paziti kada se promeni pozadina da se i boja slova uskladi */
}

.select-dropdown {
  margin-top: -3%;
}

.mat-form-field-oval {
  border-radius: 15px;
  overflow: hidden;
}

.mat-form-field-oval .mat-form-field-flex {
  border-radius: 15px;
}

.mat-form-field-oval .mat-select-trigger {
  border-radius: 15px !important;
  padding: 10px 20px !important; 
}

.mat-form-field-oval .mat-select-panel {
  border-radius: 15px !important;
}

.mat-form-field-oval .mat-option {
  border-radius: 15px !important;
  margin: 2px !important;
}

.mat-form-field-oval ngx-mat-select-search .mat-input-element {
  border-radius: 25px !important;
}

.asset-type {
  display: flex;
  margin-left: 12%;
  color: #fff;  /* Ovde samo paziti kada se promeni pozadina da se i boja slova uskladi */
  font-size: 14px;
  width: 100%;
}

#asset-select {
  border-radius: 40px;
  display: flex;
  padding-left: 10%;
  margin-left: 50%;
  height: 100%;
}

.assets-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40%;
}
