<div class="overview">
  <div class="h2-wrapper">
    <h2>Trade management</h2>
  </div>
  <br>

  <div class="p-wrapper">
    <p>Welcome to the Trade Management page! Here, you can easily access information about all received trade offers and manage them with ease. 
      Take control of your team’s future by reviewing and responding to offers, or unleash your creativity by proposing your own trades to enhance your team’s performance.
    </p>
  </div>

  <div class="filters">
    <form [formGroup]="tradeForm">
      <div class="trade-type">
        <h3>Choose your trade type:</h3>
        <div>
          <select id="trade-type-select"
                  formControlName="selectedTradeType" 
                  (change)="onTradeTypeChange($event)"
                  required>
            <option value="Received">Received</option>
            <option value="Sent">Sent</option>
          </select>  
        </div>
      </div>
    </form>
  
    <form [formGroup]="tradeStatusForm">
      <div class="trade-status">
        <h3>Sort by status:</h3>
        <div>
          <select id="trade-status-select"
                  formControlName="selectedStatus" 
                  (change)="onTradeStatusChange($event)"
                  required>
            <option value="None">None</option>
            <option value="In progress">In progress</option>
            <option value="Accepted">Accepted</option>
            <option value="Declined">Declined</option>
            <option value="Cancelled">Cancelled</option>
          </select>  
        </div>
      </div>
    </form>  
  </div>

  <button type="submit"
          class="propose-trade-btn"
          (click)="proposeTradeButtonClicked()"
          [@buttonState]="proposeTradeButtonState">
    <fa-icon [icon]="faPlus" />
    &nbsp;Propose a trade
  </button>

<!-- MOZDA DODATI KAO SORTIRANJE PREMA NJIHOVOM STATUSU NEKAKO -->

  <div class="trades">
    <div class="trade-container">
        <app-trade-request-card
            [@fadeIn]
            *ngFor="let proposal of tradeProposals"
            [tradeProposal]="proposal"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></app-trade-request-card>
    </div>
  </div>
</div>