<div class="overview">
  <div class="h2-wrapper">
    <h2>Trade management</h2>
  </div>
  <br>

  <div class="p-wrapper">
    <p>Welcome to the Trade Management page! Here, you can easily access information about all received trade offers and manage them with ease. 
      Take control of your team’s future by reviewing and responding to offers, or unleash your creativity by proposing your own trades to enhance your team’s performance.
    </p>
  </div>

  <!-- Obratiti paznju na ulogu ovde -->
  <button type="submit"
          class="add-tour-btn"
          (click)="proposeTradeButtonClicked()"
          [@buttonState]="proposeTradeButtonState">
    <fa-icon [icon]="faPlus" />
    &nbsp;Propose a trade
  </button>

  <div class="tour-search-results">
    <div class="tour-search-result-tours">
        <!-- <app-trade-request-card
            [@fadeIn]
            *ngFor="let request of requests"
            [request]="request"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></app-trade-request-card> -->
        <app-trade-request-card
          [@fadeIn]
          (dialogRefClosed)="handleDialogClosed($event)"
        ></app-trade-request-card>
    </div>
  </div>

</div>