.dialogue {
  width: 70rem;
  height: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  background-color: rgba(255, 255, 255, .1);
  padding: 20px;
  backdrop-filter: blur(15px);
  color: #fff;
  border: 3px solid rgba(255, 255, 255, .2);
  border-radius: 10px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.wrapper {
  width: 90%;
  height: 92%;
  border-radius: 10px;
  gap: 15px;
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
  margin-top: -1%;
}

.wrapper .btn {
  margin-top: 6%;
  width: 50%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #1b1b1b;
  font-weight: 600;
}

.wrapper .btn:hover {
  background-color: rgb(172, 172, 172);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: transform 300ms ease;
}

.wrapper .buttons {
  display: flex;
  gap: 9%;
}

.wrapper .submit-btn {
  margin-top: 5%;
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #1b1b1b;
  font-weight: 600;
}

.wrapper .submit-btn:hover {
  background-color: rgb(172, 172, 172);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
  transition: transform 300ms ease;
}

.trading-partner {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  gap: 5%;
}

.select-dropdown {
  margin-top: 0.8%;
}

.sel {
  border-radius: 40px;
  border: 2px solid #fff;
}

.receivings {
  display: flex;
}

.partner-receivings {
  margin-left: 17%;
}

.assets {
  height: 20rem; 
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin-top: 2.5%;
  overflow-x: hidden;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
  min-width: 26rem;
}

.assets::-webkit-scrollbar {
  display: none; 
}

.mat-form-field-oval {
  border-radius: 15px;
  overflow: hidden;
}

.mat-form-field-oval .mat-form-field-flex {
  border-radius: 15px;
}

.mat-form-field-oval .mat-select-trigger {
  border-radius: 15px !important;
  padding: 10px 20px !important; 
}

.mat-form-field-oval .mat-select-panel {
  border-radius: 15px !important;
}

.mat-form-field-oval .mat-option {
  border-radius: 15px !important;
  margin: 2px !important;
}

.mat-form-field-oval ngx-mat-select-search .mat-input-element {
  border-radius: 25px !important;
}
