<div class="trade-card">
    <div class="trade-card-content">
        <div class="trade-card-top">
          <div class="trade-tags">
            <div class="trade-tag"
                 *ngIf="tradeProposal.statusZahTrg == 0"
                 style="background-color: orange; color: white">
                 In progress
            </div>
            <div class="trade-tag"
                 *ngIf="tradeProposal.statusZahTrg == 1"
                 style="background-color: olivedrab; color: white">
                 Accepted
            </div>
            <div class="trade-tag"
                 *ngIf="tradeProposal.statusZahTrg == 2"
                 style="background-color: rgb(150, 28, 28); color: white">
                 Declined
            </div>
            <div class="trade-tag"
                 *ngIf="tradeProposal.statusZahTrg == 3"
                 style="background-color: grey; color: white">
                 Cancelled
            </div>
          </div>
        </div>
        <div class="trade-card-information">
            <div class="trade-card-center">
                <div class="trade-team-value">
                  <strong>Team: </strong> {{ this.managersTeam?.nazTim }}
                </div>
                <div class="trade-manager-value">
                    <strong>Manager: </strong> {{ this.manager?.ime }} {{ this.manager?.prezime }}
                </div>
                <div class="trade-date">
                  <div class="trade-date-value">
                    <strong>Date: </strong> {{ this.proposalOccurrenceDate }}
                  </div>
                </div>
            </div>

            <div class="trade-card-right">
                <button
                    class="btn"
                    (click)="seeDetailsButtonClicked();$event.stopPropagation()"
                    [@buttonState]="detailsButtonState"
                >
                    <fa-icon [icon]="faCircleInfo" />
                    &nbsp;See details
                </button>

                <button
                  class="btn"
                  *ngIf="this.tradeProposal.statusZahTrg == 2"
                  (click)="seeExplanationButtonClicked();$event.stopPropagation()"
                  [@buttonState]="seeExplanationButtonState"
                >
                  <fa-icon [icon]="faBan" />
                  &nbsp;See denial explanation
                </button>

                <button
                    class="btn"
                    *ngIf="this.tradeProposal.statusZahTrg == 0 && this.tradeProposal.idMenadzerPrim == this.user?.id"
                    (click)="acceptButtonClicked();$event.stopPropagation()"
                    [@buttonState]="acceptButtonState"
                >
                    <fa-icon [icon]="faCheck" />
                    &nbsp;Accept
                </button>

                <button
                    class="btn"
                    *ngIf="this.tradeProposal.statusZahTrg == 0 && this.tradeProposal.idMenadzerPrim == this.user?.id"
                    (click)="declineButtonClicked();$event.stopPropagation()"
                    [@buttonState]="declineButtonState"
                >
                    <fa-icon [icon]="faTimes" />
                    &nbsp;Decline
                </button>

                <button
                  class="btn"
                  *ngIf="this.tradeProposal.statusZahTrg == 0 && this.tradeProposal.idMenadzerPos == this.user?.id"
                  (click)="cancelButtonClicked();$event.stopPropagation()"
                  [@buttonState]="cancelButtonState"
                >
                  <fa-icon [icon]="faTrash" />
                  &nbsp;Cancel proposal
                </button> 

            </div>
        </div>
    </div>
</div>
