<div class="overview" [ngStyle]="{'background-size': backgroundSize}">
  <div class="h2-wrapper">
    <h2>League news</h2>
  </div>
  <br>

  <div class="p-wrapper">
    <p>Welcome to the League News page! Here, you can stay informed with the latest updates and developments from around the league. 
      Keep up with breaking news and trades. Dive into detailed analysis and expert opinions to stay ahead of the game and fully engaged with all the action.
    </p>
  </div>

  <div class="tour-search-results">
    <div class="tour-search-result-tours">
        <!-- <app-trade-request-card
            [@fadeIn]
            *ngFor="let request of requests"
            [request]="request"
            (dialogRefClosed)="handleDialogClosed($event)"
        ></app-trade-request-card> -->
        <app-news-card
          [@fadeIn]
          (dialogRefClosed)="handleDialogClosed($event)"
        ></app-news-card>
        <app-news-card
          [@fadeIn]
          (dialogRefClosed)="handleDialogClosed($event)"
        ></app-news-card>
        <app-news-card
          [@fadeIn]
          (dialogRefClosed)="handleDialogClosed($event)"
        ></app-news-card>
        <app-news-card
          [@fadeIn]
          (dialogRefClosed)="handleDialogClosed($event)"
        ></app-news-card>
        <app-news-card
          [@fadeIn]
          (dialogRefClosed)="handleDialogClosed($event)"
        ></app-news-card>
    </div>
  </div>

</div>