<div class="pick-card">
  <div class="pick-card-content">
        <div class="pick-card-top">
            <div class="pick-tags">
                <div class="pick-tag"
                    *ngIf="this.pick.trgListPik"
                    style="background-color: orange; color: white">
                Added to the Trade list
                </div>
                <div class="pick-tag"
                    *ngIf="this.pick.nedodListPik"
                    style="background-color: rgb(132, 40, 40); color: white">
                    Added to the Untouchables list
                </div>
                <!-- OVDE SAMO OBRATI PAZNJU KADA SE DODA WISHLIST DA SE PROMENI -->
                <!-- <div class="pick-tag"
                    *ngIf="this.pick.nedodListPik"
                    style="background-color: olivedrab; color: white">
                    Added to the Wishlist
                </div> -->
            </div>
        </div>
        <div class="pick-card-information">
            <div class="pick-card-center">
                  <div class="pick-number" 
                       *ngIf="pick.redBrPik !== '0'">
                    <strong>Order:</strong> {{ pick.redBrPik }}
                  </div>
                  <div class="pick-number" 
                       *ngIf="pick.redBrPik === '0'">
                    <strong>Order:</strong> Unknown
                  </div>
                  <div class="pick-round">
                    <strong>Round:</strong> {{ pick.brRunPik }}
                  </div>
                  <div class="pick-year">
                    <strong>Year:</strong> {{ pick.godPik }}
                  </div>
            </div>
            <div class="pick-card-right">
                <button
                    class="btn"
                    *ngIf="!ownTeam"
                    (click)="addToWishlistButtonClicked(pick);$event.stopPropagation()"
                    [@buttonState]="addToWishlistButtonState"
                >
                    <fa-icon [icon]="faHeart" />
                    &nbsp;Add to wishlist
                </button>

                <button
                    class="btn"
                    *ngIf="ownTeam && !this.pick.trgListPik"
                    (click)="addToTradeListButtonClicked(pick);$event.stopPropagation()"
                    [@buttonState]="addToTradeListButtonState"
                >
                    <fa-icon [icon]="faList" />
                    &nbsp;Add to trade list
                </button>

                <button
                    class="btn"
                    *ngIf="ownTeam && this.pick.trgListPik"
                    (click)="removeFromTradeListButtonClicked(pick);$event.stopPropagation()"
                    [@buttonState]="addToTradeListButtonState"
                >
                    <fa-icon [icon]="faList" />
                    &nbsp;Remove from trade list
                </button>
                
                <button
                    class="btn"
                    *ngIf="ownTeam && !this.pick.nedodListPik"
                    (click)="addToUntouchablesListButtonClicked(pick);$event.stopPropagation()"
                    [@buttonState]="addToUntouchablesListButtonState"
                >
                    <fa-icon [icon]="faBan" />
                    &nbsp;Add to untouchables list
                </button>

                <button
                    class="btn"
                    *ngIf="ownTeam && this.pick.nedodListPik"
                    (click)="removeFromUntouchablesListButtonClicked(pick);$event.stopPropagation()"
                    [@buttonState]="addToUntouchablesListButtonState"
                >
                    &nbsp;Remove from untouchables
                </button>
            </div>
        </div>
    </div>
  </div>
  