<div class="asset-card">

  <!-- MOZDA DA DODAM KAO TAG RECIMO ADDED TO TRADE LIST ILI WISHLIST I SL -->
  
    <div class="asset-card-content">
        <div class="asset-card-information">
            <div class="asset-card-center">
                  <div class="asset-description"> {{ this.description }} </div>
            </div>
            <div class="asset-card-right">
                  <button
                    class="btn"
                    (click)="removeAssetButtonClicked(chosenPlayer);$event.stopPropagation()"
                    [@buttonState]="removeAssetButtonState"
                    *ngIf="showButton && chosenPlayer"
                  >
                    <fa-icon [icon]="faMinus" />
                    &nbsp;Remove
                  </button>
                  
                  <button
                    class="btn"
                    (click)="removeAssetButtonClicked(chosenPick);$event.stopPropagation()"
                    [@buttonState]="removeAssetButtonState"
                    *ngIf="showButton && chosenPick"
                  >
                    <fa-icon [icon]="faMinus" />
                    &nbsp;Remove
                  </button>

                  <button
                    class="btn"
                    (click)="removeAssetButtonClicked(chosenDraftRight);$event.stopPropagation()"
                    [@buttonState]="removeAssetButtonState"
                    *ngIf="showButton && chosenDraftRight"
                  >
                    <fa-icon [icon]="faMinus" />
                    &nbsp;Remove
                  </button>
            </div>
        </div>
    </div>
  </div>
  