<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="modal-container">
  <div class="prompt">
    <h1 *ngIf="this.list == 'wishlist' && this.action == 'add'">Add to wishlist</h1>
    <p *ngIf="this.list == 'wishlist' && this.action == 'add'">Are you sure you want to add this asset to the wishlist?</p>

    <h1 *ngIf="this.list === 'untouchable list' && this.action == 'add'">Add to untouchable list</h1>
    <p *ngIf="this.list === 'untouchable list' && this.action == 'add'">Are you sure you want to add this asset to the untouchable list?</p>

    <h1 *ngIf="this.list == 'trade list' && this.action == 'add'">Add to trade list</h1>
    <p *ngIf="this.list == 'trade list' && this.action == 'add'">Are you sure you want to add this asset to the trade list?</p>

    <h1 *ngIf="this.list == 'wishlist' && this.action == 'remove'">Remove from wishlist</h1>
    <p *ngIf="this.list == 'wishlist' && this.action == 'remove'">Are you sure you want to remove this asset to the wishlist?</p>

    <h1 *ngIf="this.list === 'untouchable list' && this.action == 'remove'">Remove from untouchable list</h1>
    <p *ngIf="this.list === 'untouchable list' && this.action == 'remove'">Are you sure you want to remove this asset from the untouchable list?</p>

    <h1 *ngIf="this.list == 'trade list' && this.action == 'remove'">Remove from trade list</h1>
    <p *ngIf="this.list == 'trade list' && this.action == 'remove'">Are you sure you want to remove this asset from the trade list?</p>


    <div class="buttons">
      <button type="submit"
              class="btn"
              *ngIf="this.action == 'add'"
              (click)="addButtonClicked()"
              [@buttonState]="addButtonState"
              >Add
      </button>
      <button type="submit"
              class="btn"
              *ngIf="this.action == 'remove'"
              (click)="addButtonClicked()"
              [@buttonState]="addButtonState"
              >Remove
      </button>
      <button type="submit"
              class="btn"
              (click)="cancelButtonClicked()"
              [@buttonState]="cancelButtonState"
              >Cancel
      </button>
    </div>

  </div>
</div>
