<div class="modal-overlay" (click)="overviewClicked()"></div>
<div class="dialogue">
  <div class="wrapper">
    <form>
        <h1>Assets of the {{ this.team?.nazTim }}</h1>

        <form [formGroup]="assetForm">
          <div class="asset-type">
            <h3>Choose your asset type</h3>
            <div>
              <select id="asset-select"
                      formControlName="selectedAssetType" 
                      (change)="onAssetTypeChange($event)"
                      required>
                <option value="Players">Players</option>
                <option value="Picks">Picks</option>
                <option value="Draft rights">Draft Rights</option>
              </select>  
            </div>
          </div>
        </form>
  
        <div class="assets">
          <app-pick-card
            [@fadeIn]
            *ngFor="let pick of picks"
            [pick]="pick"
            [chosenPicks]="chosenPicks"
          ></app-pick-card>

          <app-player-asset-card
            [@fadeIn]
            *ngFor="let player of players"
            [player]="player"
            [chosenPlayers]="chosenPlayers"
          ></app-player-asset-card>

          <app-draft-rights-asset-card
            [@fadeIn]
            *ngFor="let draftRight of draftRights"
            [draftRight]="draftRight"
            [chosenDraftRights]="chosenDraftRights"
          ></app-draft-rights-asset-card>
        </div>

        <button type="submit" 
                class="submit-btn" 
                [@buttonState]="finishButtonState" 
                (click)="finishButtonClicked()"
                >Finish choosing
        </button>
    </form>
  </div>
</div>
